<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>tripleA | Admin</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="bg-white fixed top-0 left-0 w-full flex items-center z-10">
        <div class="container">
            <div class="flex items-center justify-between relative">
                <div class="px-4">
                    <a href="/admin" class="font-bold block hover:rotate-2 transition duration-200 ease-in-out py-6 text-2xl lg:py-3 text-prim">tripleA</a>
                </div>
                <div class="flex items-center px-4">
                    <button id="hamburger" name="hamburger" type="button"
                    class="block absolute right-4 lg:hidden">
                        <span class="hamburger-line transition duration-200 ease-in-out origin-top-left"></span>
                        <span class="hamburger-line transition duration-200 ease-in-out"></span>
                        <span class="hamburger-line transition duration-200 ease-in-out origin-bottom-left"></span>
                    </button>

                    <nav id="nav-menu" class="hidden absolute py-3 shadow-lg rounded-lg
                    max-w-[250px] w-full right-4 top-full lg:block lg:static lg:max-w-full lg:shadow-none lg:rounded-none lg:bg-transparent bg-white">
                        <ul class="block lg:flex">
                            <li class="group">
                                <a href="/admin" class="navbar-comp hover-underline-animation">Home</a>
                            </li>

                            <li class="group">
                                <a href="https://ahsanAazizan.github.io" class="navbar-comp hover-underline-animation">Personal</a>
                            </li>

                            <li class="group">
                                <a href="mailto:ahsanaz461@gmail.com" class="text-base font-semibold text-prim hover:bg-prim py-2 px-4 rounded-sm mx-3 flex hover:text-white transition duration-150 ease-in-out border border-prim">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

  <div class="container w-full max-w-xl mt-32">
    <h1 class="mb-5 font-bold text-2xl text-center">Create New Article</h1>

    <form action="/articles" method="POST">
        <div class="mb-5">
            <a href="/admin" class="font-semibold opacity-75 rounded-md text-base"><i class="fa-solid fa-backward"></i> Back</a>
        </div>
        <div class="mb-4">
            <label for="title" class="block text-gray-700 text-sm font-bold mb-2">Title</label>
            <input required value="<%= article.title %>" type="text" name="title" id="title" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="mb-4">
            <label for="description" class="block text-gray-700 text-sm font-bold mb-2">Description</label>
            <textarea name="description" id="description" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"><%= article.description %></textarea>
        </div>
        <div class="mb-4">
            <label for="markdown" class="block text-gray-700 text-sm font-bold mb-2 w-full">Markdown</label>
            <textarea required name="markdown" id="markdown" class="shadow appearance-none border rounded w-full pb-48 px-2 pt-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"><%= article.markdown %></textarea>
        </div>

        <div class="mb-4">
            <label for="tags" class="block text-gray-700 text-sm font-bold mb-2 w-full">Tags</label>
            <textarea required name="tags" id="tags" class="shadow appearance-none border rounded w-full py-2 px-2 pt-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"><%= article.tags %></textarea>
        </div>
        
        <button type="submit" class="px-4 py-2 bg-prim font-semibold text-white rounded-md hover:shadow-lg hover:opacity-75 transition duration-300 ease-in-out">Save</button>
    </form>
  </div>

  <script src="/js/script.js"></script>
</body>
</html>