<header class="bg-white fixed top-0 left-0 w-full flex items-center z-10">
    <div class="container">
        <div class="flex items-center justify-between relative">
            <div class="px-4">
                <a href="#" class="font-bold block hover:rotate-2 transition duration-200 ease-in-out py-6 text-2xl lg:py-3 text-prim">tripleA</a>
            </div>
            <div class="flex items-center px-4">
                <button id="hamburger" name="hamburger" type="button"
                class="block absolute right-4 lg:hidden">
                    <span class="hamburger-line transition duration-200 ease-in-out origin-top-left"></span>
                    <span class="hamburger-line transition duration-200 ease-in-out"></span>
                    <span class="hamburger-line transition duration-200 ease-in-out origin-bottom-left"></span>
                </button>

                <nav id="nav-menu" class="hidden absolute py-3 shadow-lg rounded-lg
                max-w-[250px] w-full right-4 top-full lg:block lg:static lg:max-w-full lg:shadow-none lg:rounded-none lg:bg-transparent bg-white">
                    <ul class="block lg:flex">
                        <li class="group">
                            <a href="/" class="navbar-comp hover-underline-animation">Home</a>
                        </li>

                        <li class="group">
                            <a href="/admin" class="text-base font-semibold text-prim hover:bg-prim py-2 px-4 rounded-sm mx-3 flex hover:text-white transition duration-150 ease-in-out border border-prim">Admin</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>